################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/RapidLogistics Solution/*/bin
/RapidLogistics Solution/*/obj
/SQLQuery2.sql
*.zip
/RapidLogistics Solution/packages
UpgradeLog.htm
