################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RapidLogistics Solution/BusinessEntities/bin/Debug
/RapidLogistics Solution/BusinessServices/bin/Debug
/RapidLogistics Solution/DataModel/bin/Debug
/RapidLogistics Solution/DataModel/obj/Debug/edmxResourcesToEmbed
/RapidLogistics Solution/RapidWarehouse/bin/Debug/vi-VN
/RapidLogistics Solution/WebApi/bin
/RapidLogistics Solution/RapidLogisitics.Tests/bin/Debug
/RapidLogistics Solution/RapidLogisitics/bin
/RapidLogistics Solution/DataModel/obj/Release/TempPE
/RapidLogistics Solution/RapidWarehouse/bin/Release/ChiTietSanLuongNhapKhoTheoThung02072017230416.doc
/RapidLogistics Solution/BusinessEntities/bin/Release
/RapidLogistics Solution/BusinessServices/bin/Release
/RapidLogistics Solution/DataModel/bin/Release
/RapidLogistics Solution/RapidLogisitics/obj/Release
/RapidLogistics Solution/RapidLogisitics.Tests/bin/Release
/RapidLogistics Solution/RapidLogisitics.Tests/obj/Release
/RapidLogistics Solution/RapidWarehouse/bin/Debug/AutoMapper.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/EntityFramework.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/EntityFramework.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/DocX.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/DataModel.pdb
/RapidLogistics Solution/RapidWarehouse/bin/Debug/DataModel.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/BusinessServices.pdb
/RapidLogistics Solution/RapidWarehouse/bin/Debug/BusinessServices.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/BusinessEntities.pdb
/RapidLogistics Solution/RapidWarehouse/bin/Debug/BusinessEntities.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/AutoMapper.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Microsoft.Practices.Unity.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Microsoft.Practices.Unity.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/RapidWarehouse.exe
/RapidLogistics Solution/RapidWarehouse/bin/Debug/RapidWarehouse.exe.config
/RapidLogistics Solution/RapidWarehouse/bin/Debug/RapidWarehouse.pdb
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Ultilities.pdb
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Ultilities.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Threading.Tasks.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Threading.Tasks.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Runtime.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Runtime.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.WebRequest.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.WebRequest.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.Primitives.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.Primitives.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.Extensions.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.Extensions.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.Net.Http.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.IO.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/System.IO.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/SimpleInjector.xml
/RapidLogistics Solution/RapidWarehouse/bin/Debug/SimpleInjector.dll
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Resolver.pdb
/RapidLogistics Solution/RapidWarehouse/bin/Debug/Resolver.dll
/RapidLogistics Solution/RapidWarehouse/bin/Release
/RapidLogistics Solution/RapidWarehouse/obj/Debug/vi-VN
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.csproj.App.config
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.exe
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormChangePassword.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormChoThongQuan.resources
/RapidLogistics Solution/RapidWarehouse/obj/Release
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.csproj.GenerateResource.Cache
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.csprojResolveAssemblyReference.cache
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormBaoCao.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormConfigDB.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.Properties.Resources.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.pdb
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormXuat.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormNhap.vi-VN.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormNhap.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormLogin.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormHome.resources
/RapidLogistics Solution/RapidWarehouse/obj/Debug/RapidWarehouse.FormCreateEditEmployee.resources
/RapidLogistics Solution/Resolver/bin/Debug
/RapidLogistics Solution/Resolver/bin/Release
/RapidLogistics Solution/Resolver/obj/Debug/Resolver.pdb
/RapidLogistics Solution/Resolver/obj/Debug/Resolver.dll
/RapidLogistics Solution/Resolver/obj/Debug/Resolver.csprojResolveAssemblyReference.cache
/RapidLogistics Solution/Resolver/obj/Release/Resolver.pdb
/RapidLogistics Solution/Resolver/obj/Release/Resolver.dll
/RapidLogistics Solution/Ultilities/bin
/RapidLogistics Solution/Ultilities/obj/Debug/Ultilities.pdb
/RapidLogistics Solution/Ultilities/obj/Debug/Ultilities.dll
/RapidLogistics Solution/Ultilities/obj/Release
/RapidLogistics Solution/WebApi/obj/Debug
/RapidLogistics Solution/WebApi/obj/Release/WebApi.pdb
/RapidLogistics Solution/WebApi/obj/Release/WebApi.dll
/RapidLogistics Solution/WebApi/obj/Release/WebApi.csprojResolveAssemblyReference.cache
/RapidLogistics Solution/BusinessEntities/obj/Release/BusinessEntities.csproj.App.config
/RapidLogistics Solution/BusinessEntities/obj/Release/BusinessEntities.csprojResolveAssemblyReference.cache
/RapidLogistics Solution/BusinessEntities/obj/Release/BusinessEntities.dll
/RapidLogistics Solution/BusinessEntities/obj/Release/BusinessEntities.pdb
/RapidLogistics Solution/BusinessServices/obj/Release/BusinessServices.pdb
/RapidLogistics Solution/BusinessServices/obj/Release/BusinessServices.dll
/RapidLogistics Solution/BusinessServices/obj/Release/BusinessServices.csprojResolveAssemblyReference.cache
/RapidLogistics Solution/DataModel/obj/Release/edmxResourcesToEmbed
/RapidLogistics Solution/DataModel/obj/Release/DataModel.pdb
/RapidLogistics Solution/DataModel/obj/Release/DataModel.dll
/RapidLogistics Solution/DataModel/obj/Release/DataModel.csprojResolveAssemblyReference.cache
/RapidLogistics Solution/Resolver/obj/Release/Resolver.csprojResolveAssemblyReference.cache
/RapidLogistics Solution/RapidWarehouse/bin/Debug/SanLuongNhapKho30072017135710.doc
/RapidLogistics Solution/RapidWarehouse/bin/Debug/export_datagridview.xlsx
/RapidLogistics Solution/RapidWarehouse/bin/Debug/export_datagridview.xls
/RapidLogistics Solution/RapidWarehouse/bin/Debug/ChiTietSanLuongNhapKho30072017134153.doc
/RapidLogistics Solution/RapidWarehouse/bin/Debug/ChiTietSanLuongNhapKho30072017125010.doc
